numpy==1.24.4
numba==0.57.1
networkx==2.8.8
scipy
pandas
matplotlib
seaborn
scikit-learn
umap-learn
louvain
leidenalg
sparse
scikit-image
pyarrow
pyyaml
dask
dask[array]
zarr
hdbscan
opencv-python
packaging
